<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/tcradios" version="1.0.0" viewmodes="maximized">
   <name>tcradios</name>
   <icon src="icon.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.all"></feature>
   <tizen:application id="btKfFhKRvH.tcradios" package="btKfFhKRvH" required_version="10.0"></tizen:application>
   <tizen:profile name="tizen"></tizen:profile>
</widget>